<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
        <% rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Filmid %>
    <%= form.number_field :film_id, value: @film_id %>
    <%= @filmTitle %>
  </div>

  <div class="field">
    <%= form.label :Userid %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :Duedate %>
    <%= form.date_field :due_date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
