<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @film_title %>
</p>

<p>
  <strong>User:</strong>
  <%= @rentee_email %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
